<div class="header">
  <h1>Stupid Coaching</h1>
</div>
<form action="/answer" class="form" method="get">
  <input type="text" name="question" placeholder="What is your question?" id="placeholder">
  <input type="submit" class="btn btn-primary">
</form>

