// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.form {
  text-align: center;
  padding-top: 30px;
}


#placeholder{
  width: 50%;
  height: 40px;
  border-radius: 10px;
}


.link{
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  text-align: center;
}

#answer{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
  font-size: 19px;
}
